.container-01{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50rem;
    width:auto;
    background-image: url("../images/cityView.jpg");
    background-size: cover;
}

.header-content {
    height: 160px;
    padding: 20px;
    color: white;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    animation-direction: alternate;
    height: 100%;
}

@keyframes App-logo-spin {
    from { transform: rotate(-15deg); }
    to { transform: rotate(15deg); }
}