.App {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  animation-direction: alternate;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(-15deg); }
  to { transform: rotate(deg); }
}

.container-01{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50rem;
  width:auto;
  background-image: url("images/cityView.jpg");
  background-size: cover;
}

.header-content {
  height: 160px;
  padding: 20px;
  color: white;
}

.header-content h1 {
  text-shadow: 2px 2px grey;
  margin-top: 45px;
}

.App-intro {
  font-size: large;
}

.container-02{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40rem;
  width:auto;
  background-color:#1A3A41;
  color: white;
  flex-wrap:wrap;
}

.flex-item-01{
  flex: 1;
  line-height: 150%;
  padding: 5rem;
  text-align: left;
  min-width: 35rem;
}

.flex-item-02{
  flex: 1;
  padding: 2rem;
  min-width: 35rem;

}

.map{
  height: 40rem;
  position: relative;
}

li {
  list-style-type: square;
  text-align: left;
  padding-left: 1rem;
}

.container-03{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45rem;
  width:auto;
  background-color:#ABABAB;
}

.flex-item-03{
  
}

.floor-plan-image{
  max-width:85%;
  padding:1rem;
}

.container-04{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40rem;
  width:auto;
  background-color:#CDEFF8;
}

.flex-item-04{
  
}